@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("../fonts/LINESeedKR-Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Rg";
  src: url("../fonts/LINESeedKR-Rg.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "LINESeedKR-Th";
  src: url("../fonts/LINESeedKR-Th.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

:root {
  /* Color */
  --white-color: white;
  --ivory-color: #fefbe9;
  --lgreen-color: #e1eedd;
  --green-color: #7db9b6;
  --dgreen-color: #578381;
  --ddgreen-color: #183a1d;
  --lred-color: rgb(250, 234, 235);
  --red-color: rgb(189, 3, 3);
  --dred-color: rgb(160, 3, 3);
}

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0% 3%;
  background: linear-gradient(var(--lgreen-color), var(--green-color));
  font-family: "LINESeedKR-Rg";
}

header {
  margin: 2% 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ===== Goal Style ===== */
#goal-box {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

#goal-box .input-box {
  display: flex;
  align-items: center;
  height: 38px;
  margin: 1% 10px;
  padding: 0 7px;
  border-bottom: 0.2rem solid var(--ddgreen-color);
}

#goal-box .input-box > h3 {
  font-size: 1rem;
  font-family: "LINESeedKR-Bd";
  padding-right: 1rem;
}

.badge {
  background-color: var(--lred-color);
  padding: 7px;
  margin: 5px 7px;
  border-radius: 2em;
  color: var(--red-color);
  font-size: 0.8rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#goal-box .highlight {
  box-shadow: inset 0 0 0 0 white;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

#goal-box:hover .highlight {
  box-shadow: inset 1000px 0 0 0 white;
}

/* ===== Encoraging Style ===== */
#encourage-box {
  display: flex;
  align-items: center;
}
/* 
@media (minwidth > ) {
  
}
#encourage-box {
    margin: 2% 0;
    padding: 0 7px;
} */

#encourage-box div {
  margin: 3% 10px;
  padding: 15px;
  background-color: var(--white-color);
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.2);
  font-style: italic;
  color: var(--ddgreen-color);
}

/* ===== tracker-box styles =====  */
#tracker-box {
  margin: 0 10px;
  padding: 6%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  background: var(--ivory-color);
  border: 2px solid var(--ddgreen-color);
  border-radius: 20px;
}
@media screen and (min-width: 1024px) {
  #tracker-box {
    padding: 2% 3%;
  }
}

#tracker-box::before {
  margin-right: 2%;
  content: "START";
  font-family: "LINESeedKR-Bd";
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

#tracker-box::after {
  margin-left: 2%;
  content: "CONGRATS🎉";
  font-family: "LINESeedKR-Bd";
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

#tracker-box .item {
  margin: 20px 3px;
}

#tracker-box .item > p {
  font-family: "LINESeedKR-Rg";
  font-size: 0.7rem;
  text-align: center;
  margin: 0px;
  border-bottom: 1px solid var(--ddgreen-color);
  padding: 0px 0px 1px 0px;
}

/* ===== Checkbox ===== */
#tracker-box .item > input[type="checkbox"] {
  display: none;
}

#tracker-box .item > input[type="checkbox"] + label {
  /* user-select: none; */
  cursor: pointer;
  display: inline-block;
  margin: 3px 0px 0px 0px;
  width: 33px;
  height: 20px;
  border: 1px solid var(--ddgreen-color);
  font-family: "LINESeedKR-Rg";
  font-size: 0.8rem;
  text-align: center;
  line-height: 20px;
  color: var(--ddgreen-color);
}

/* #tracker-box .item > input[type="checkbox"] + label:hover {
  background: var(--ddgreen-color);
} */

#tracker-box .item > input[type="checkbox"]:checked + label {
  background-color: var(--ddgreen-color);
}

/* ===== Footer Styles ===== */
footer {
  display: flex;
  justify-content: space-between;
  color: var(--ivory-color);
  font-size: 0.7rem;
  margin: 20px 0px;
}

/*  CSS Transition Only After Onload */
.preload {
  transition: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* ===== Transition ===== */
.lineUp {
  animation: 3s anim-lineUp ease-out infinite;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.fade-in {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* form */
input {
  font-family: "LINESeedKR-Rg";
  border-style: none;
  padding: 9px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 10px;
  background-color: var(--lgreen-color);
}

input:focus {
  outline: none !important;
  border: solid 2px var(--ddgreen-color);
}

button {
  font-family: "LINESeedKR-Rg";
  border-style: none;
  padding: 9px 12px;
  font-size: 1rem;
  border-radius: 5px;
  margin: 0 10px;
  background-color: var(--dgreen-color);
  color: var(--white-color);
  cursor: pointer;
}

button:hover {
  background-color: var(--ddgreen-color);
}

.blind {
  display: none;
}

/* dialog */

dialog {
  border-style: none;
  border-radius: 6px;
  border: 1px solid lightgray;
  padding: 0;
}

button.btn {
  all: unset;
  display: inline;
  cursor: pointer;
}

dialog header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  font-weight: bold;
}

dialog main {
  padding: 20px;
  border-top: 1px solid rgb(233, 232, 232);
  /* border-bottom: 1px solid rgb(233, 232, 232); */
  display: flex;
  flex-direction: column;
}

#modifyMessage {
  padding: 0px 10px;
  font-size: 0.9rem;
  color: rgb(110, 110, 110);
}

#alertMessage {
  color: rgb(159, 24, 24);
  font-size: 0.9rem;
  padding: 0px 10px;
  margin: 20px 0 0 0;
}

dialog footer {
  padding: 0 20px;
  display: flex;
  flex-direction: row-reverse;
}
